# Récupérer le dataset d'intérêt

https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres-geolocalisees/#_

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("full.csv", sep=',', encoding = 'UTF-8')
df.head()

C:\Users\ketou\anaconda3\envs\intro-conda\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (10,12,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-01-07,1,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323522,46.171899
1,2020-2,2020-01-07,1,Vente,75000.0,NaN,NaN,RUE DE LA CHARTREUSE,0064,1960.0,...,NaN,NaN,NaN,AB,terrains a bâtir,NaN,NaN,610.0,5.226197,46.184538
2,2020-3,2020-01-14,1,Vente,89000.0,NaN,NaN,VACAGNOLE,B112,1340.0,...,NaN,NaN,NaN,AB,terrains a bâtir,NaN,NaN,600.0,NaN,NaN
3,2020-3,2020-01-14,1,Vente,89000.0,NaN,NaN,VACAGNOLE,B112,1340.0,...,NaN,NaN,NaN,AB,terrains a bâtir,NaN,NaN,491.0,NaN,NaN
4,2020-4,2020-01-22,1,Vente,209950.0,11.0,NaN,RUE REYER,3340,1000.0,...,Maison,78.0,5.0,S,sols,NaN,NaN,242.0,5.219902,46.196484

In [3]:
# Pour connaitre le nombre de lignes et colonne de df
df.shape

(827105, 40)

### 1-Selection des colonnes qu'on veut garder

In [4]:
df2=df[['id_parcelle',
        'nature_mutation',
        'date_mutation',
        'valeur_fonciere', 
        'nombre_lots', 
        'lot1_surface_carrez',
        'surface_reelle_bati',
        'type_local',
        'nombre_pieces_principales',
        'code_departement',
        'adresse_numero',
        'adresse_nom_voie', 
        'code_postal',
        'longitude', 
        'latitude']]
df2.head()

,id_parcelle,nature_mutation,date_mutation,valeur_fonciere,nombre_lots,lot1_surface_carrez,surface_reelle_bati,type_local,nombre_pieces_principales,code_departement,adresse_numero,adresse_nom_voie,code_postal,longitude,latitude
0,01072000AK0216,Vente,2020-01-07,8000.0,0,NaN,NaN,NaN,NaN,1,NaN,FORTUNAT,1250.0,5.323522,46.171899
1,01289000AI0210,Vente,2020-01-07,75000.0,0,NaN,NaN,NaN,NaN,1,NaN,RUE DE LA CHARTREUSE,1960.0,5.226197,46.184538
2,01024000AL0120,Vente,2020-01-14,89000.0,0,NaN,NaN,NaN,NaN,1,NaN,VACAGNOLE,1340.0,NaN,NaN
3,01024000AL0132,Vente,2020-01-14,89000.0,0,NaN,NaN,NaN,NaN,1,NaN,VACAGNOLE,1340.0,NaN,NaN
4,01053000AL0074,Vente,2020-01-22,209950.0,0,NaN,78.0,Maison,5.0,1,11.0,RUE REYER,1000.0,5.219902,46.196484

In [5]:
# Pour connaitre le nombre de lignes et colonnes de df2
df2.shape

(827105, 15)

In [6]:
# Selectionner que les élements dans la colonne type_local qui correspond à "Appartement" 
# Car choix de ne regarder que les appartements pour le projet
df2 = df2[df2['type_local']=="Appartement"]
df2.head()

,id_parcelle,nature_mutation,date_mutation,valeur_fonciere,nombre_lots,lot1_surface_carrez,surface_reelle_bati,type_local,nombre_pieces_principales,code_departement,adresse_numero,adresse_nom_voie,code_postal,longitude,latitude
23,01053000AZ0475,Vente,2020-01-27,122000.0,2,NaN,63.0,Appartement,2.0,1,140.0,BD DE BROU,1000.0,5.232959,46.198944
28,01053000AI0110,Vente,2020-01-15,67000.0,2,NaN,46.0,Appartement,2.0,1,5.0,RUE COMTE DE LA TEYSSONNIERE,1000.0,5.213696,46.196548
100,01053000BK0106,Vente,2020-02-07,159200.0,1,NaN,87.0,Appartement,3.0,1,5.0,ALL DE CHALLES,1000.0,5.229752,46.206240
101,01053000AD0662,Vente,2020-01-17,145000.0,3,NaN,89.0,Appartement,5.0,1,22.0,RUE DES CASERNES,1000.0,5.220302,46.205126
107,01266000AB0096,Vente,2020-01-27,247000.0,0,NaN,46.0,Appartement,2.0,1,5112.0,MONTREVEL,1340.0,5.128086,46.337468

In [7]:
# Verifier le nombre de lignes restantes
df2.shape  # il reste 148646 lignes

(148646, 15)

In [8]:
# Selectionner que les appartements situés dans la région parisienne 
df2=df2[df2['code_departement'].astype(str).str.contains('75|78|91|92|93|94|95')]
df2.head(2)

,id_parcelle,nature_mutation,date_mutation,valeur_fonciere,nombre_lots,lot1_surface_carrez,surface_reelle_bati,type_local,nombre_pieces_principales,code_departement,adresse_numero,adresse_nom_voie,code_postal,longitude,latitude
598682,78646000AE0175,Vente,2020-01-06,1382700.0,2,NaN,185.0,Appartement,6.0,78,22.0,RUE DES RESERVOIRS,78000.0,2.124821,48.807564
598683,78621000AE0302,Vente,2020-01-06,148200.0,1,NaN,63.0,Appartement,3.0,78,6.0,SQ FRANCIS CARCO,78190.0,1.976229,48.776401

In [9]:
# Verifier le nombre de lignes restantes après le trie sur la région parisienne
df2.shape  # il reste 48170 lignes

(48170, 15)

In [10]:
# Vérification des données manquantes dans le dataframe trié df2
df2.isnull().sum() # ce code permet de faire la somme du nombre 'NaN' par colonne

id_parcelle                      0
nature_mutation                  0
date_mutation                    0
valeur_fonciere                 77
nombre_lots                      0
lot1_surface_carrez          24030
surface_reelle_bati              0
type_local                       0
nombre_pieces_principales        0
code_departement                 0
adresse_numero                  56
adresse_nom_voie                 0
code_postal                      0
longitude                      403
latitude                       403
dtype: int64

# Interprétation résultat de df2.isnull().sum()
On voit qu'il y a:
- 77 valeurs manquantes dans la colonne valeur_fonciere
- 24030 valeurs manquantes dans la colonne lot1_surface_carrez
- 56 valeurs manquantes dans la colonne adresse_numéro
- 403 valeurs manquantes dans la colonne longitude 
- 403 valeurs manquantes dans la colonne latitude

# Pour l'analyse on s'intéresse aux prix des biens par rapport aux surfaces. 
# Comme on ne sait pas trop à quoi correspond les surfaces "lot1_surface_carrez", on se propose de considérer uniquement les valeurs de la colonne "surface_reelle_bati", pour récupérer la surface des appartements à analyer après.

In [11]:
# Pour voir un échantillon au hasard de 5 lignes
df2.sample(5)

,id_parcelle,nature_mutation,date_mutation,valeur_fonciere,nombre_lots,lot1_surface_carrez,surface_reelle_bati,type_local,nombre_pieces_principales,code_departement,adresse_numero,adresse_nom_voie,code_postal,longitude,latitude
612871,78481000AE0207,Vente,2020-05-14,342383.0,1,69.05,72.0,Appartement,3.0,78,101.0,RTE DE CROISSY,78230.0,2.116156,48.895665
725672,91016000AH0088,Vente,2020-01-22,80000.0,2,NaN,48.0,Appartement,2.0,91,9.0,RUE DE L EGLISE,91670.0,1.998220,48.311192
740266,92012000AP0108,Vente,2020-01-24,515000.0,2,NaN,56.0,Appartement,2.0,92,12.0,AV GAL LECLERC,92100.0,2.241952,48.833427
771237,940340000A0174,Vente,2020-06-17,150000.0,2,57.87,57.0,Appartement,3.0,94,47.0,AV DE LA LIBERTE,94260.0,2.317461,48.764116
741152,920070000K0068,Vente,2020-01-15,325000.0,2,79.36,79.0,Appartement,4.0,92,6.0,ALL DES ORCHIDEES,92220.0,2.311917,48.800713

In [12]:
# Enlever la colonne "lot1_surface_carrez" pour plus de clarté dans le dataframe df2 trié
df2.drop(columns= ['lot1_surface_carrez'], inplace=True)
df2.sample(3)

,id_parcelle,nature_mutation,date_mutation,valeur_fonciere,nombre_lots,surface_reelle_bati,type_local,nombre_pieces_principales,code_departement,adresse_numero,adresse_nom_voie,code_postal,longitude,latitude
749372,93066000CK0013,Vente,2020-03-05,104000.0,1,27.0,Appartement,2.0,93,220.0,AV DU PDT WILSON,93210.0,2.358385,48.914749
811325,75111000CO0031,Vente,2020-03-17,550000.0,1,44.0,Appartement,3.0,75,13.0,PL DE LA NATION,75011.0,2.397447,48.849014
780364,94052000AD0035,Vente,2020-06-30,602000.0,2,94.0,Appartement,4.0,94,33.0,RUE FRANCOIS ROLLAND,94130.0,2.480047,48.834233

In [13]:
# Pour garder les lignes de "valeur_foncière" renseignées
# C'est à dire, enlever les 77 valeurs manquantes de la colonne valeur_fonciere vue précedement
df2 = df2[df2['valeur_fonciere'].notna()]
df2.sample(3)

,id_parcelle,nature_mutation,date_mutation,valeur_fonciere,nombre_lots,surface_reelle_bati,type_local,nombre_pieces_principales,code_departement,adresse_numero,adresse_nom_voie,code_postal,longitude,latitude
738320,920440000U0136,Vente,2020-02-25,455000.0,1,41.0,Appartement,2.0,92,28.0,RUE DU PDT WILSON,92300.0,2.291746,48.890921
811927,75111000AA0018,Vente,2020-06-05,230650.0,1,25.0,Appartement,1.0,75,29.0,BD JULES FERRY,75011.0,2.366904,48.868286
613337,78123000AI0583,Vente,2020-05-20,195400.0,1,64.0,Appartement,3.0,78,250.0,AV CHARLES DE GAULLE,78955.0,2.036998,48.941488

In [14]:
df2.shape # on retrouve bien (48170 - 77 => Soit 48093 lignes)

(48093, 14)

In [15]:
df2.columns

Index(['id_parcelle', 'nature_mutation', 'date_mutation', 'valeur_fonciere',
       'nombre_lots', 'surface_reelle_bati', 'type_local',
       'nombre_pieces_principales', 'code_departement', 'adresse_numero',
       'adresse_nom_voie', 'code_postal', 'longitude', 'latitude'],
      dtype='object')

In [16]:
# Pour connaitre les différentes valeurs dans la colonne "nature_mutation"
df2[df2['nature_vente']=='Vente'].count()

KeyError: 'nature_vente'

=> Au vu de cette distribution, on ne va considérer que les 47698 lignes de "ventes" et les 211 lignes de "Vente en l'état futur d'achèvement"

In [ ]:
# Trier maintenant dans la colonne "nature_mutation" uniquement les valeurs "Vente" 
df2[(df2['nature_mutation']=='Vente')]
# Attention ce code prend toutes les ventes, il reste les 2 ventes de terrain à bâtir que je n'arrive pas à virer.
df2.shape #(47698 + 211 + 2 =47911 lignes)

In [ ]:
# Réunir les colonnes adresse_numero, adresse_nom_voie et code_postal dans une nouvelle colonne "Adresse"
df2["Adresse"] = df2["adresse_numero"].astype(str) + "   "+ df2["adresse_nom_voie"]+ "   " + df2["code_postal"].astype(str)
df2.head()

In [ ]:
# Emlever la colonne adresse_numero
df2.drop(columns= ['adresse_numero'], inplace=True)
df2.sample(3)

In [ ]:
# Renommer les colonnes pour plus de clarté

df2.rename(columns={'nature_mutation': 'nature_vente', 
                   'date_mutation': 'date_vente',
                   'valeur_fonciere': 'Prix',
                   'nombre_lots': 'nb_lots',
                   'surface_reelle_bati': 'surface',
                   'type_local': 'local',
                   'nombre_pieces_principales': 'nb_pieces',
                   'code_departement': 'code_dprtmt'               
                  }, inplace=True)
df2.head()

In [ ]:
# Enregistrer le dataframe trié final dans un nouveau fichier csv pour l'utiliser dans l'Analyse
# df2.to_csv("ventes_appartements_idf_final.csv")